#page-home {
    #usp-grid {
        display               : grid;
        grid-template-columns : repeat(3, 1fr);
        grid-template-rows    : repeat(2, 1fr);
        grid-gap              : 16px;
        height                : 480px;
        grid-template-areas   :
                "card-1 card-2 card-3"
                "card-1 card-4 card-5";
    }

    #card-1 { grid-area : card-1; }
    #card-2 { grid-area : card-2; }
    #card-3 { grid-area : card-3; }
    #card-4 { grid-area : card-4; }
    #card-5 { grid-area : card-5; }

    .usp-card {
        display         : flex;
        height          : 100%;
        flex-direction  : column;
        justify-content : space-between;
    }
}
